{% if is_granted('ROLE_ADMIN') %}
<div class="wel">
    <div class="clearfix"><a href="#"></a></div>
</div>
{% endif %}
<ul class="navbar">
    <li><a href="{{ path('DefaultBundle_homepage') }}"><p class="navbar_item navbar_home">{{ 'stay-alive.menu-left.home' | trans }}</p></a></li>

    <li><h3>{{ 'stay-alive.menu-left.stay-alive' | trans }}</h3></li>
    <li><a href="{{ path('DefaultBundle_static_page', {'slug': 'reglament-stay-alive'}) }}"><p class="navbar_item navbar_reglament">{{ 'stay-alive.menu-left.reglament' | trans }}</p></a></li>
    <li><a href="{{ path('DefaultBundle_static_page', {'slug': 'information-stay-alive'}) }}"><p class="navbar_item navbar_information">{{ 'stay-alive.menu-left.information' | trans }}</p></a></li>
    <li><a href="{{ path('DefaultBundle_static_page', {'slug': 'faq-stay-alive'}) }}"><p class="navbar_item navbar_forum">{{ 'stay-alive.menu-left.faq' | trans }}</p></a></li>
    <li><a href="{{ path('application_new') }}"><p class="navbar_item navbar_join">{{ 'stay-alive.menu-left.take_part' | trans }}</p></a></li>
    <li><a href="{{ path('interkassa_payment_new') }}"><p class="navbar_item navbar_pay">{{ 'stay-alive.menu-left.pay' | trans }}</p></a></li>
    <li><a href="{{ path('application_by_competition', {'competition': 'stay-alive'}) }}"><p class="navbar_item navbar_members">{{ 'stay-alive.menu-left.players' | trans }}</p></a></li>

    <li><h3>{{ 'stay-alive.menu-left.giant' | trans }}</h3></li>
    <li><a href="{{ path('DefaultBundle_static_page', {'slug': 'reglament-giant'}) }}"><p class="navbar_item navbar_reglament">{{ 'stay-alive.menu-left.reglament' | trans }}</p></a></li>
    <li><a href="{{ path('DefaultBundle_static_page', {'slug': 'information-giant'}) }}"><p class="navbar_item navbar_information">{{ 'stay-alive.menu-left.information' | trans }}</p></a></li>
    <li><a href="{{ path('application_new') }}"><p class="navbar_item navbar_join">{{ 'stay-alive.menu-left.take_part' | trans }}</p></a></li>
    <li><a href="{{ path('interkassa_payment_new') }}"><p class="navbar_item navbar_pay">{{ 'stay-alive.menu-left.pay' | trans }}</p></a></li>
    <li><a href="{{ path('application_by_competition', {'competition': 'giant'}) }}"><p class="navbar_item navbar_members">{{ 'stay-alive.menu-left.players' | trans }}</p></a></li>

    <li><h3>{{ 'stay-alive.menu-left.archive' | trans }}</h3></li>
    <li><a href="http://ovg-old.sarsport.ru">{{ 'stay-alive.menu-left.ovg_old' | trans }}</a></li>
    {#<li><a href="#"><p class="navbar_item navbar_article">{{ 'stay-alive.menu-left.article' | trans }}</p></a></li>
    <li><a href="#"><p class="navbar_item navbar_photo">{{ 'stay-alive.menu-left.photo' | trans }}</p></a></li>
    <li><a href="#"><p class="navbar_item navbar_video">{{ 'stay-alive.menu-left.video' | trans }}</p></a></li>#}
</ul>
