<div id="banner-top">
    <div id="sarsport-logo-text">
        <a href="{{ path('DefaultBundle_homepage') }}">
            <img border="0" title="{{ 'brand.name'|trans }}" alt="{{ 'brand.name'|trans }}" src="{{ asset('bundles/default/images/stay-alive-logo-text.png') }}">
        </a>
    </div>
    <div id="banner-sarsport-info">
        <div class="stay-alive-designer-name">{{ 'stay-alive.designer.name'|trans }}</div>
        <div class="stay-alive-designer-text">{{ 'stay-alive.designer.text'|trans }}</div>
    </div>
</div>
