<div id="banner-top" class="fixed-top">
    <div id="sarsport-logo-text">
        <a href="{{ path('DefaultBundle_homepage') }}">
            {% image '@DefaultBundle/Resources/public/images/stay-alive-2013-logo-text.png'%}
            <img border="0" title="{{ 'brand.name'|trans }}" alt="{{ 'brand.name'|trans }}" src="{{ asset_url }}"/>
            {% endimage %}
        </a>
    </div>
    <div id="banner-sarsport-info">
        <div class="stay-alive-designer-name">{{ 'stay-alive.designer.name'|trans }}</div>
        <div class="stay-alive-designer-text">{{ 'stay-alive.designer.text'|trans }}</div>
    </div>
</div>
