<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{{ path('DefaultBundle_homepage') }}">
                {{ 'brand.name'|trans}}<span style="background-color:#387690;" class="label warning">{{ constant("Application\\Bundle\\DefaultBundle\\Version::VERSION") }}</span>
            </a>
            <ul class="nav pull-right">
                <li><a href="#">{{ 'stay-alive.menu-top.information' | trans }}</a></li>
                <li><a href="#">{{ 'stay-alive.menu-top.contacts' | trans }}</a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>
                    <span>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</span>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </li>
                <li>
                    <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
