{% extends "SarSportApplicationBundle::layout.html.twig" %}

{% block sarsport_application_content %}
{% form_theme edit_form 'SarSportApplicationBundle::form.html.twig' %}
{% form_theme delete_form 'SarSportApplicationBundle::form.html.twig' %}
<h1>{% trans with {'%teamName%': entity.teamName} from 'SarSportApplicationBundle' %}application.header.edit{% endtrans %}</h1>

<form action="{{ path('application_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">{% trans from 'SarSportApplicationBundle' %}application.links.edit{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('application_by_competition', {'competition': entity.competition}) }}">
            {% trans from 'SarSportApplicationBundle' %}application.links.back_to_list{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('application_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans from 'SarSportApplicationBundle' %}application.links.delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock sarsport_application_content %}
