{% extends "SarSportApplicationBundle::layout.html.twig" %}
{% block sub_title %}. Редактирование заявки{% endblock %}

{% block sarsport_application_content %}
{% form_theme edit_form 'SarSportApplicationBundle::form.html.twig' %}
{% form_theme delete_form 'SarSportApplicationBundle::form.html.twig' %}
<h1>{% trans with {'%teamName%': entity.teamName} from 'SarSportApplicationBundle' %}application.header.edit{% endtrans %}</h1>
    {% if sarsport_application_is_owner(entity) %}
        <form action="{{ path('application_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
            <p>
                <button type="submit" class="btn btn-info">{% trans from 'SarSportApplicationBundle' %}application.links.edit{% endtrans %}</button>
                <a class="btn btn-success" href="{{ path('interkassa_payment_new') }}">
                    {% trans from 'SarSportApplicationBundle' %}application.links.pay{% endtrans %}
                </a>
            </p>
        </form>
    {% endif %}

{% if sarsport_application_is_owner(entity) %}
<form action="{{ path('application_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button type="submit" class="btn btn-danger"  onclick="javascripts:if (!confirm('{% trans from 'SarSportApplicationBundle' %}application.confirm.remove_application{% endtrans %}')) return false;">{% trans from 'SarSportApplicationBundle' %}application.links.delete{% endtrans %}</button>
</form>
{% endif %}

<a href="{{ path('application_by_competition', {'competition': entity.competition}) }}">
    {% trans from 'SarSportApplicationBundle' %}application.links.back_to_list{% endtrans %}
</a>


{% endblock sarsport_application_content %}
