{% extends "SarSportApplicationBundle::layout.html.twig" %}
{% block sub_title %}. Информация о команде{% endblock %}

{% block sarsport_application_content %}
<h1>{% trans with {'%teamName%': entity.teamName} from 'SarSportApplicationBundle' %}application.header.show{% endtrans %}</h1>

<table class="table table-striped table-bordered table-condensed">
    <tbody>
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.competition{% endtrans %}</th>
        <td>{{ sarsport_application_get_competition_name(entity.competition) | trans([], 'SarSportApplicationBundle') }}</td>
    </tr>
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.teamName{% endtrans %}</th>
        <td>{{ entity.teamName }}</td>
    </tr>
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.city{% endtrans %}</th>
        <td>{{ entity.city }}</td>
    </tr>
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.class{% endtrans %}</th>
        <td class="sarsport_application_class_{{entity.class}}">{{ sarsport_application_get_class_name(entity.class) | trans([], 'SarSportApplicationBundle') }}</td>
    </tr>
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.group{% endtrans %}</th>
        <td class="sarsport_application_group_{{entity.group}}">{{ sarsport_application_get_group_name(entity.group) | trans([], 'SarSportApplicationBundle') }}</td>
    </tr>
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.additionalMaps{% endtrans %}</th>
        <td class="sarsport_application_boolean_{{entity.additionalMaps}}">{{ sarsport_application_get_boolean(entity.additionalMaps) | trans([], 'SarSportApplicationBundle') }}</td>
    </tr>
    {% if sarsport_application_is_owner(entity) %}
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.phonenumber{% endtrans %}</th>
        <td>{{ entity.phonenumber }}</td>
    </tr>
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.comment{% endtrans %}</th>
        <td>{{ entity.comment }}</td>
    </tr>
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.payment{% endtrans %}</th>
        <td class="sarsport_application_boolean_{{entity.status}}">{{ sarsport_application_get_boolean(entity.status) | trans([], 'SarSportApplicationBundle') }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.player_fio{% endtrans %}</th>
        <td>{{ entity.firstPlayerFirstName }} {{ entity.firstPlayerLastName }}</td>
    </tr>
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.birthday{% endtrans %}</th>
        <td>{{ entity.firstPlayerBirthday }}</td>
    </tr>
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.t-shirt{% endtrans %}</th>
        <td class="sarsport_application_boolean_{{entity.firstPlayerTShirt}}">{{ sarsport_application_get_boolean(entity.firstPlayerTShirt) | trans([], 'SarSportApplicationBundle') }}{% if (entity.firstPlayerTShirt and entity.firstPlayerTShirtSize) %} / {{ entity.firstPlayerTShirtSize }}{% endif %}</td>
    </tr>
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.player_fio{% endtrans %}</th>
        <td>{{ entity.secondPlayerFirstName }} {{ entity.secondPlayerLastName }}</td>
    </tr>
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.birthday{% endtrans %}</th>
        <td>{{ entity.secondPlayerBirthday }}</td>
    </tr>
    <tr>
        <th>{% trans from 'SarSportApplicationBundle' %}application.t-shirt{% endtrans %}</th>
        <td class="sarsport_application_boolean_{{entity.secondPlayerTShirt}}">{{ sarsport_application_get_boolean(entity.secondPlayerTShirt) | trans([], 'SarSportApplicationBundle') }}{% if (entity.secondPlayerTShirt and entity.secondPlayerTShirtSize) %} / {{ entity.secondPlayerTShirtSize }}{% endif %}</td>
    </tr>
    </tbody>
</table>

<ul class="unstyled">
    {% if sarsport_application_is_owner(entity) %}
    <li>
        <form action="{{ path('application_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <a class="btn btn-success" href="{{ path('interkassa_payment_new') }}">
                {% trans from 'SarSportApplicationBundle' %}application.links.pay{% endtrans %}
            </a>
            <a class="btn btn-info" href="{{ path('application_edit', { 'id': entity.id }) }}">
                {% trans from 'SarSportApplicationBundle' %}application.links.edit{% endtrans %}
            </a>
            <button type="submit" class="btn btn-danger"  onclick="javascripts:if (!confirm('{% trans from 'SarSportApplicationBundle' %}application.confirm.remove_application{% endtrans %}')) return false;">{% trans from 'SarSportApplicationBundle' %}application.links.delete{% endtrans %}</button>
        </form>
    </li>
    {% endif %}
    <li>
        <a href="{{ path('application_by_competition', {'competition': entity.competition}) }}">
            {% trans from 'SarSportApplicationBundle' %}application.links.back_to_list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock sarsport_application_content %}
