{% extends "::base.html.twig" %}
{% block sub_title %}. Информация{% endblock %}
{% block content %}
<h1 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Инфрмация</h1>
    <div class="clearfix">
        <h3>Схема гонки</h3>

        <p>Судьи будут в базовом лагере с 18:00 25 июля (Пт.)</p>

        <p>Регистрация участников 26 июля (Сб.) с 10:00 до 12:00</p>

        <p>Подъезд к лагерю - асфальт (последние 150 м. грунт). Расположен на открытой местности. Спуск к воде обрывистый, мест входа в воду - мало. Рекомендуется в воду заходить в обуви. Комаров днем - нет, вечером мало.</p>

        <p>Рядом расположена турбаза (не действующая) и село Красная поляна. Собаки имеются, агрессивных не видели.</p>

        <p>Источников воды рядом - НЕТ! Воду необходимо привести с собой в достаточном количестве (не менее 10 литров на участника). Ближайший ларек у въезда в село (около 3 км).</p>

        <p>Весь свой мусор с дистанции и с базового лагеря необходимо увезти с собой!</p>

        <p>Опасные места: коряги и сучья в воде.</p>

        <p>Настоятельно рекомендуем иметь репеллент от комаров.</p>

        <p>
            <ul>Время старта:
                <li>13:00 Старт Спорт</li>
                <li>14:00 Старт Туризм</li>
            </ul>
        </p>
    </div>
    <div class="clearfix">
        <h3>Техническая информация</h3>
        <div class="clearfix">
            <div class="thumbnail span6">
                {% image '@DefaultBundle/Resources/public/images/schema2014.jpg'%}
                <img src="{{ asset_url }}"/>
                {% endimage %}
            </div>
        </div>
        <p><strong>Пролог</strong> 3,5 км 8 КП 1 час (Указано примерное время лидеров при взятии всех КП)</p>

        <p>Предназначен для проверки обязательного снаряжения и умения пользоваться им. Выглядит этот этап как лайт-трекинг с элементами "болотинга", "камышингина" и т.д. 75-80% пролога возможность двигаться по дорогам.</p>

        <p><strong>Байдарка</strong> - 45 км. (возможный волок до 3 км) 8 кп 7-9 часов</p>

        <p>Уровень воды немного ниже чем на спутниковом снимке. Границы камышей в реальности меньше чем на снимке.</p>

        <p>Места завалов будут указаны красной черточкой.</p>

        <p>Не разведанные места (влияющие на выбор вариантов) - вопросительном знаком. Движение по этим местам на усмотрение навигатора команды.</p>

        <p>КП со знаком * - повышенной трудности (взятие без волока не возможно).</p>

        <p><strong>Трекинкг</strong> - 10 км 4 КП 3 - 5 часов</p>

        <p>Большая часть трека - движение по заливным лугам с высокотравьем, на которых идет активная уборка сена.</p>

        <p>Скошенная трава и дороги не всегда совпадают изображению на снимке со спутника.</p>

        <p>Встречаются протоки и болота (страшных не видел, "тонуть" в них не пришлось).</p>

        <p><strong>Секретный этап</strong> - без информации (на то он и секретный)</p>

        <p><strong>Велоэтап</strong> - 70 км. 8КП 5 - 7 часов + ориентирование по выбору 5 км 3КП</p>

        <p>Этап в процессе постановки.</p>
    </div>

    <div class="clearfix">
        <p>Карты не герметизированы, забота об их сохранности на участниках (иметь гермопакеты или заклеивать полностью скотчем).</p>

        <p>КП берутся в заданном направление, их можно пропускать.</p>
        <p>Требования к фотоотметке. На кадре должен быть виден номер КП (или оговоренное в легенде место), участники команды (или любая часть тела одного из участников). На этапе "байдарка" в кадре должна быть еще и байдарка, на "велоэтапе" - велосипеды.</p>
    </div>

    <div class="clearfix">
        <p><strong>Просьба внимательно и серьезно отнестись к собственной безопасности!</strong></p>
        <p><strong>Обязательное снаряжение:</strong></p>
        <ul>
            <li>Спасательный жилет на этапы «байдарка» и «трекинг» — каждому, объем не менее 8 литров.;</li>
            <li>GPS навигатор с запасными элементами питания (на 48 часов);</li>
            <li>Компас, имеющий шкалу с градусами, свисток, спички, нож.</li>
            <li>Заряженный сотовый телефон "большой тройки" (с ненулевым балансом), с внесенным в память телефона номером организатора. Телефон должен быть влагостойкий или в надежном гермопакете.</li>
            <li>Аптечка: бинт, стерильная салфетка, перекись водорода, лейкопластырь, обезболивающие - вся дистанция.</li>
        </ul>
        <p>Очень настоятельно рекомендуется репеллент от комаров, гермомешок для одежды, ремнабор для байдарки. Воды не менее 3 литров на этап "байдарки" на человека, запасные аккумуляторы к телефону, ручку. Одежда, закрывающая ноги и руки (местами встречается крапива, еживика и другая колючи-режущая травка).</p>
    </div>
    <div class="clearfix">
        <p>Карты будут выдаваться после пролога.</p>
        <p>Байдарки можно взять в аренду: «Задор» тел. 249-909</p>
    </div>
    {#<div class="clearfix">#}
        {#<h3>Район соревнований</h3>#}
        {#<p><a href="http://www.o-saratov.narod.ru/Khvalynsk/spravka_Khvalynsk.pdf">Информация о районе соревнований</a> от СФСО.</p>#}
        {#<div class="thumbnail span6">#}
            {#{% image '@DefaultBundle/Resources/public/images/race_map_big.jpg'%}#}
            {#<a href="{{ asset_url }}" title="В полном размере">#}
                {#{% endimage %}#}
                {#{% image '@DefaultBundle/Resources/public/images/race_map_small.jpg'%}#}
                {#<img src="{{ asset_url }}"/>#}
                {#{% endimage %}#}
            {#</a>#}
        {#</div>#}
    {#</div>#}

    <div class="clearfix">
        <h3>Проезд</h3>
        <div class="thumbnail span6">
            {% image '@DefaultBundle/Resources/public/images/region_map_2014_big.jpg'%}
            <a href="{{ asset_url }}" title="В полном размере" target="_blank">
            {% endimage %}
                {% image '@DefaultBundle/Resources/public/images/region_map_2014.jpg'%}
                    <img src="{{ asset_url }}"/>
                {% endimage %}
            </a>
        </div>
    </div>

    {#<div class="clearfix">#}
        {#<h3>Проживание и питание</h3>#}
        {#<ul>#}
            {#<li>Палаточный лагерь на территории курорта (при въезде указатель — бесплатная парковка). Есть стационарные туалеты, вода. Проживание — 30 руб. чел/день, оплата курорту.#}
                {#Душ 20 руб./чел., оплата курорту.</li>#}
            {#<li>Центр соревнований. Гостинечный комплекс горнолыжного центра, номера со всеми удобствами.<br>#}
                {#Стоимость проживания от 500 руб., доп. место — 100 руб. Питание от 350 руб. Телефон администратора: 8 927 124 18 77. Сайт, очень информативный: <a href="http://hvalin.ru/">http://hvalin.ru/</a></li>#}
            {#<li>Центр соревнований. Палаточный городок. Оборудованные туалеты, вода. Разведение костров запрещено, только газовые плиты. 30 руб./день с человека.</li>#}
            {#<li>Гостевой дом «Верста». 6 км. До центра соревнований, 1 км. до места старта.<br>#}
                {#Стоимость проживания от 550 руб., питание — домашняя и недорогая кухня. Телефон администратора 8 (8452) 25 11 90, 8 927 277 90 90. Сайт, очень информативный: <a href="http://www.verstadom.ru/">http://www.verstadom.ru/</a></li>#}
            {#<li>Частный сектор г.Хвалынска. В это время года цены на проживание весьм умеренные.</li>#}
        {#</ul>#}
        {#<h4>Питание, комплексное:</h4>#}
        {#<ul>#}
            {#<li>18 мая (Пт.)#}
                {#<ul>#}
                    {#<li>20:00 — 21:00 Ужин (200 руб.);</li>#}
                {#</ul>#}
            {#</li>#}
            {#<li>19 мая (Сб.)#}
                {#<ul>#}
                    {#<li>8:00 — 8:30 Завтрак (150 руб.);</li>#}
                    {#<li>Обед (200 руб., по предварительном заказе до 9:00);</li>#}
                    {#<li>20:30 — 21:30 Ужин (200 руб.);</li>#}
                {#</ul>#}
            {#</li>#}
            {#<li>20 мая (Вс.)#}
                {#<ul>#}
                    {#<li>9:00 — 10:00 Завтрак (150 руб.);</li>#}
                    {#<li>Обед (200 руб., по предварительном заказе до 9:00);</li>#}
                    {#<li>17:00 — 19:00 Праздничный ужин (Заявка и оплата в момент регистрации. 350 руб., напитки за счет организаторов);</li>#}
                    {#<li>19:00 - 21:00 Баня (по предварительной заявке, возможно, за счет организатора)</li>#}
                {#</ul>#}
            {#</li>#}
        {#</ul>#}
    {#</div>#}
    <br />
    <div class="clearfix">
        <p>Последнее изменение страницы от 16 июля</p>
    </div>
{% endblock %}
